img {
    margin-top: -20px;
    max-height: 20vh;
    max-width:80vw;
    /* object-fit: cover; */
}

img {
    max-height: 40vh;
}

h1 {
    margin-top:8px;
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
    font-weight: 500;
}
